@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.8rem;
  --background: oklch(0.901 0.063 244.944);
  --foreground: oklch(0.141 0.024 251.795);
  --card: oklch(0.901 0.063 244.944);
  --card-foreground: oklch(0.141 0.024 251.795);
  --popover: oklch(0.901 0.063 244.944);
  --popover-foreground: oklch(0.141 0.024 251.795);
  --primary: oklch(0.546 0.098 245.825);
  --primary-foreground: oklch(0.901 0.063 244.944);
  --secondary: oklch(0.808 0.119 244.751);
  --secondary-foreground: oklch(0.141 0.024 251.795);
  --muted: oklch(0.808 0.119 244.751);
  --muted-foreground: oklch(0.356 0.059 247.629);
  --accent: oklch(0.698 0.145 244.563);
  --accent-foreground: oklch(0.141 0.024 251.795);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.698 0.145 244.563 / 20%);
  --input: oklch(0.698 0.145 244.563 / 20%);
  --ring: oklch(0.546 0.098 245.825);
  --chart-1: oklch(0.141 0.024 251.795);
  --chart-2: oklch(0.356 0.059 247.629);
  --chart-3: oklch(0.546 0.098 245.825);
  --chart-4: oklch(0.698 0.145 244.563);
  --chart-5: oklch(0.808 0.119 244.751);
  --sidebar: oklch(0.141 0.024 251.795);
  --sidebar-foreground: oklch(0.901 0.063 244.944);
  --sidebar-primary: oklch(0.546 0.098 245.825);
  --sidebar-primary-foreground: oklch(0.901 0.063 244.944);
  --sidebar-accent: oklch(0.698 0.145 244.563);
  --sidebar-accent-foreground: oklch(0.901 0.063 244.944);
  --sidebar-border: oklch(0.698 0.145 244.563 / 20%);
  --sidebar-ring: oklch(0.546 0.098 245.825);
}

.dark {
  --background: oklch(0.141 0.024 251.795);
  --foreground: oklch(0.901 0.063 244.944);
  --card: oklch(0.356 0.059 247.629);
  --card-foreground: oklch(0.901 0.063 244.944);
  --popover: oklch(0.356 0.059 247.629);
  --popover-foreground: oklch(0.901 0.063 244.944);
  --primary: oklch(0.546 0.098 245.825);
  --primary-foreground: oklch(0.141 0.024 251.795);
  --secondary: oklch(0.356 0.059 247.629);
  --secondary-foreground: oklch(0.901 0.063 244.944);
  --muted: oklch(0.356 0.059 247.629);
  --muted-foreground: oklch(0.808 0.119 244.751);
  --accent: oklch(0.698 0.145 244.563);
  --accent-foreground: oklch(0.901 0.063 244.944);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.901 0.063 244.944 / 10%);
  --input: oklch(0.901 0.063 244.944 / 15%);
  --ring: oklch(0.546 0.098 245.825);
  --chart-1: oklch(0.901 0.063 244.944);
  --chart-2: oklch(0.808 0.119 244.751);
  --chart-3: oklch(0.698 0.145 244.563);
  --chart-4: oklch(0.546 0.098 245.825);
  --chart-5: oklch(0.356 0.059 247.629);
  --sidebar: oklch(0.356 0.059 247.629);
  --sidebar-foreground: oklch(0.901 0.063 244.944);
  --sidebar-primary: oklch(0.546 0.098 245.825);
  --sidebar-primary-foreground: oklch(0.141 0.024 251.795);
  --sidebar-accent: oklch(0.698 0.145 244.563);
  --sidebar-accent-foreground: oklch(0.901 0.063 244.944);
  --sidebar-border: oklch(0.901 0.063 244.944 / 10%);
  --sidebar-ring: oklch(0.546 0.098 245.825);
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-background);
    --foreground: var(--color-foreground);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

